<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topic_names</title>
</head>
<body>
    <center>
        <h1>display_topics</h1>
        <table border="3px">
            <tr>
                <th>Topic_name</th>
            </tr>
        <!--By using jinga Opertional tags bcz backend data  we can displayes in frontend at that time-->
        {% for to in topics %}
            <tr>
                <td>{{to.topic_name}}</td>
            </tr>
        {% endfor %}

















        </table>
    </center>
</body>
</html>